/* App.css */

.App {
  text-align: left;
  margin: 20px;
}

h1 {
  font-family: 'Amiri', serif;
  margin-bottom: 20px;
}

.layout-area {
  width: 794px; /* Width of A4 in pixels */
  height: 1123px; /* Height of A4 in pixels */
  position: relative;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #f0f0f0;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.draggable-item {
  position: absolute;
  user-select: none;
  color: #333;
  padding: 2px;
  box-sizing: border-box;
}

.draggable-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
}

.uploaded-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.remove-image-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.remove-image-button:hover {
  background-color: #ff1a1a;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -10px;
  right: -40px;
  z-index: 10;
}
.rotation-input,
.font-size-input {
  margin: 5px 0;
  padding: 5px;
  width: 90px;
}
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}
